[submodule "CPPQEDutils/thirdPartyRandom/pcg-cpp"]
	path = CPPQEDutils/thirdPartyRandom/pcg-cpp
	url = https://github.com/vukics/pcg-cpp.git
[submodule "CPPQEDutils/thirdPartyRandom/Xoshiro-cpp"]
	path = CPPQEDutils/thirdPartyRandom/Xoshiro-cpp
	url = https://github.com/vukics/Xoshiro-cpp.git
